.see_all_btn {
  margin: 60px 0px;
  text-align: center;
}
.see_all_btn button {
  background: #ffd600;
  color: #762400;
  padding: 15px 40px;
  border-radius: 32px;
  cursor: pointer;
}
.carousel-item {
  margin: 10px;
  border: 1px solid #80808066;
  padding: 20px;
  border-radius: 18px;
  position: relative;
  margin-top: 75px;
}
.manslide {
  position: absolute;
  top: -25%;
  left: 5%;
  max-width: 140px;
}
.carousel-content {
  margin-top: 55px;
}
.reviews {
  color: #434343;
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 15px;
}
