.profileParent {
  background: linear-gradient(258.91deg, #d95b01, #f2ad01);
}
.head_Profile {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.Profile_Crad img {
  max-width: 45px;
}
.Profile_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.Profile_Crad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 35px 20px;
  border-radius: 10px;
  gap: 15px;
}
.Profile_Crad h3 {
  color: #07030f;
  font-size: 18px;
}
.Profile_Crad p {
  text-align: center;
  color: #434343;
  font-size: 15px;
}

@media (min-width: 300px) and (max-width: 767px) {
  .Profile_cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  .Profile_cards {
    grid-template-columns: 1fr;
  }
  .head_Profile {
    font-size: 24px;
  }
  .section {
    padding: 3.5rem 0 1rem !important;
  }
}
