.profile-main {
    /* background-color: brown; */
    display: flex;
    margin-right: 250px;
}
.profile-left {
    margin-left: 270px;
    /* background-color: antiquewhite; */
    width: 30%;
    border: 1px solid rgb(145, 132, 132);
    border-radius: 15px;
    margin-top: 70px;
}
.profile-right {
    margin-left: 40px;
    width: 60%;
    /* background-color: aqua; */
    margin-top: 70px;
}
.head-section-profile {
    background-color: #ececec;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.head-section-profile h2 {
    font-size: 20px;
}

.sub-left-profile {
    margin-top: -10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 31%;
    margin-top: 30px;
}
.sub-left-profile :nth-child(1) {
    font-size: 20px;
}
.sub-left-profile-one {
    margin-top: -10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 31%;
    margin-top: 30px;
}
.sub-left-profile-one :nth-child(1) {
    font-size: 20px;
}
.sub-left-profile-one :nth-child(2) {
    color: red;
}
.sub-left-profile-one :nth-child(6) {
    color: red;
}

/* right side contents */
.contents-profile-right {
    /* background-color: brown; */
    margin-top: 50px;
    display: flex;
    border: 1px solid rgb(161, 152, 152);
    border-radius: 15px;
}
.right-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}
.right-left img {
    width: 100%;
    border-radius: 15px;
    border: 2px solid black;
}
.right-left p {
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

/*  */

.right-right {
    width: 100%;
    margin-left: 60px;
    margin-top: 20px;
}
.p-one-right {
    font-size: 15px;
}
.view-full-profile-button {
    border: none;
    padding: 7px 20px;
    margin-top: 40px;
    margin-left: 50%;
    border-radius: 10px;
    font-weight: 500;
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .profile-left {
        margin-left: 60px;
        width: 50%;
        border: 1px solid rgb(145, 132, 132);
        border-radius: 15px;
        margin-top: 70px;
    }
    .profile-right {
        margin-left: 20px;
        width: 70%;
        margin-top: 70px;
        margin-right: -200px;
    }
}

@media (min-width: 300px) and (max-width: 575px) {
    .profile-main {
        width: 100%;
        display: flex;
    }
    .profile-left {
        display: none;
    }
    .profile-right {
        margin-left: 7%;
        width: 90%;
        margin-top: 70px;
    }
    .contents-profile-right {
        margin-top: 50px;
        border: 1px solid rgb(161, 152, 152);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        height: 540px;
    }
    .right-left img {
        width: 70%;
        border-radius: 15px;
        border: 2px solid black;
        margin-left: -20px;
    }
    .right-right {
        font-size: 20px;
        margin-left: 50px;
    }
    .right-right span
    {
        margin-left: 40px;
    }
    .view-full-profile-button {
        border: none;
        padding: 7px 20px;
        margin-top: 40px;
        margin-left: 17%;
        border-radius: 10px;
        font-weight: 500;
    }
    .cast {
        margin-left: 29%;
        font-size: 22px;
    }
}
