.main-find {
  width: 100%;
  background-color: #681e6a;
}
@media only screen and (max-width: 768px) {
  .find-contents {
    padding-left: 40px;
    padding-bottom: 40px;
    /* background-color: azure; */
  }
  .find-contents p {
    font-size: 27px;
    color: aliceblue;
    padding-top: 30px;
    display: flex;
    padding-bottom: 20px;
  }
  .find-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
  }

  .find-div-1 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-1:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-2 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-2:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-3 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-3:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-4 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-4:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-5 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-5:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .find-contents {
    padding-left: 40px;
    padding-bottom: 40px;
    /* background-color: azure; */
  }
  .find-contents p {
    font-size: 27px;
    color: aliceblue;
    padding-top: 30px;
  }
  .find-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
  }

  .find-div-1 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-1:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-2 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-2:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-3 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-3:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-4 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-4:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-5 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-5:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .find-contents {
    padding-left: 40px;
    padding-bottom: 40px;
    /* background-color: azure; */
  }
  .find-contents p {
    font-size: 27px;
    color: aliceblue;
    padding-top: 30px;

  }
  .find-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .find-div-1 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-1:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-2 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-2:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-3 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-3:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-4 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-4:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-5 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-5:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1536px) {
  .find-contents {
    padding-left: 40px;
    padding-bottom: 40px;
    /* background-color: azure; */
  }
  .find-contents p {
    font-size: 27px;
    color: aliceblue;
  }
  .find-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .find-div-1 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-1:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-2 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-2:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-3 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-3:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-4 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-4:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-5 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-5:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1536px) {

  .find-contents {
    padding-left: 70px;
    padding-bottom: 40px;
    /* background-color: azure; */
  }
  .find-contents p {
    font-size: 27px;
    color: aliceblue;
  }
  .find-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .find-div-1 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-1:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-2 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-2:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-3 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-3:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-4 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #ffd600;
    transition: 0.3s;
  }
  .find-div-4:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
  .find-div-5 {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fff;
    transition: 0.3s;
  }
  .find-div-5:hover {
    background-color: #cb670a;
    cursor: pointer;
  }
}