.Offer {
  background: linear-gradient(to right, #521e6a, #a03bd0);
}
.Offer_heaf {
  padding: 40px 0px 25px 0px;
}
.Offer_heaf h3 {
  font-size: 27px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}
.Offers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Offers p {
  background: #fff;
  color: #625e5e;
  padding: 10px 15px;
  border-radius: 8px;
}
.p-one {
  transition: all 300ms ease-in;
}
.p-one:hover {
  cursor: pointer;
  transform: scale(1.1);  
  box-shadow: #e25f08;
}
.p-two {
  transition: all 300ms ease-in;
}
.p-two:hover {
  cursor: pointer;
  transform: scale(1.1);  
  box-shadow: #e25f08;
}
.p-three {
  transition: all 300ms ease-in;
}
.p-three:hover {
  cursor: pointer;
  transform: scale(1.1);  
  box-shadow: #e25f08;
}
.p-four {
  transition: all 300ms ease-in;
}
.p-four:hover {
  cursor: pointer;
  transform: scale(1.1);  
  box-shadow: #e25f08;
}
.p-five {
  transition: all 300ms ease-in;
}
.p-five:hover {
  cursor: pointer;
  transform: scale(1.1);  
  box-shadow: #e25f08;
}
@media (min-width: 768px) and (max-width: 991px) {
  .Offers {
    gap: 10px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .Offers {
    gap: 10px;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .Offer_heaf h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .Offers {
    gap: 15px;
  }
}
