.main-parent {
  background: linear-gradient(258.91deg, #d95b01, #f2ad01);
  width: 100%;
  /* height: 600px; */
  display: flex;
  flex-wrap: wrap;
}
.main-parent-h1-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-parent-h1 {
  padding-top: 90px;
  color: #fff;
  font-size: 42px;
}
.data-containers {
  display: flex;
  /* gap: 2rem; */
  /* align-items: center; */
  justify-content: space-evenly;
  /* background-color: aqua; */
  width: 100%;
  margin-left: 89px;
  margin-right: 100px;
  margin-bottom: 70px;
  margin-top: 30px;
}
.data-container-one {
  width: 258px;
  height: 264px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.data-containers-icons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.data-containers-icons {
  font-size: 49px;
  color: brown;
  font-weight: 100;
}
.data-containers-h2 {
  display: flex;
  justify-content: center;

  font-size: 17px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
}
.data-containers-p-div {
  padding: 7px 26px;
  font-size: 12px;
  color: rgb(63, 60, 60);
}

.data-containers-p {
  padding-left: 5%;
  padding-right: 2%;
  font-size: 12px;
}
.data-container-two {
  width: 207px;
  height: 69px;
  background-color: #fff;
}
.data-container-three {
  width: 207px;
  height: 69px;
  background-color: #fff;
}
.data-container-four {
  width: 207px;
  height: 69px;
  background-color: #fff;
}

/* ===================================================large screens================================================ */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .main-parent-h1-div {
    /* background-color: #44403d; */
    display: flex;
    justify-content: center;
  }
  .main-parent-h1 {
    /* background-color: #e48741; */
  }
  .data-containers {
    /* background-color: #27221f; */
    display: flex;
    gap: 10px;
    margin-left: 20px;
  }
  .data-container-one
  {
    /* background-color: #27221f; */
    width: 234px;
  }
}

@media (max-width: 768px) {
  .main-parent {
    background: linear-gradient(258.91deg, #d95b01, #f2ad01);
  }
  .main-parent-h1-div {
    margin-left: 24px;
  }
  .span-match-profile {
    margin-left: 25%;
  }

  .main-parent-h1 {
    color: #fff;
    font-size: 42px;
  }
  .data-containers {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    justify-content: space-evenly;

    width: 100%;
    margin-left: 65px;
    margin-right: 100px;
    margin-bottom: 70px;
    margin-top: 30px;
  }
  .data-container-one {
    width: 258px;
    height: 264px;
    background-color: #fff;
    border-radius: 10px;
  }
  .data-containers-icons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }
  .data-containers-icons {
    font-size: 49px;
    color: brown;
    font-weight: 100;
  }
  .data-containers-h2 {
    display: flex;
    justify-content: center;

    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .data-containers-p-div {
    display: flex;
    align-content: center;
    padding: 7px 20px;
    font-size: 12px;
  }

  .data-containers-p {
    padding-left: 5%;
    padding-right: 2%;
    font-size: 12px;
  }
  .data-container-two {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
  .data-container-three {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
  .data-container-four {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-parent {
    background: linear-gradient(258.91deg, #d95b01, #f2ad01);
    width: 100%;
    /* height: 600px; */
    display: flex;
    flex-wrap: wrap;
  }
  .main-parent-h1-div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .main-parent-h1 {
    padding-top: 90px;
    color: #fff;
    font-size: 42px;
  }
  .data-containers {
    display: flex;
    gap: 0.4rem;
    /* align-items: center; */
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 100%;
    margin-left: 4px;
    margin-right: 100px;
    margin-bottom: 70px;
    margin-top: 30px;
  }
  .data-container-one {
    width: 258px;
    height: 252px;
    background-color: #fff;
    border-radius: 10px;
  }
  .data-containers-icons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }
  .data-containers-icons {
    font-size: 49px;
    color: brown;
    font-weight: 100;
  }
  .data-containers-h2 {
    display: flex;
    justify-content: center;

    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .data-containers-p-div {
    display: flex;
    align-content: center;
    padding: 7px 20px;
    font-size: 12px;
  }

  .data-containers-p {
    padding-left: 5%;
    padding-right: 2%;
    font-size: 12px;
  }
  .data-container-two {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
  .data-container-three {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
  .data-container-four {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
}
/* ===================================================extra large screens================================================ */

@media screen and (min-width: 1282px) {
  .main-parent {
    background: linear-gradient(258.91deg, #d95b01, #f2ad01);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .main-parent-h1-div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .main-parent-h1 {
    padding-top: 90px;
    color: #fff;
    font-size: 52px;
    margin-bottom: 20px;
  }
  .data-containers {
    display: flex;
    /* gap: 2rem; */
    /* align-items: center; */
    justify-content: space-evenly;
    /* background-color: aqua; */
    width: 100%;
    margin-left: 99px;
    margin-right: 105px;
    margin-bottom: 120px;
    margin-top: 30px;
  }
  .data-container-one {
    width: 338px;
    height: 364px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .data-containers-icons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }
  .data-containers-icons {
    font-size: 59px;
    color: brown;
    font-weight: 100;
    margin-top: -20px;
  }
  .data-containers-h2 {
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .data-containers-p-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 39px;
    font-size: 15px;
    color: rgb(63, 60, 60);
  }

  .data-containers-p {
    padding-left: 5%;
    padding-right: 2%;
    font-size: 12px;
  }
  .data-container-two {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
  .data-container-three {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
  .data-container-four {
    width: 207px;
    height: 69px;
    background-color: #fff;
  }
}

@media (max-width: 365px) {
.main-parent-h1
{
  font-size: 37px;
}
.data-containers {
  display: flex;
  gap: 10px;
  margin-left:60px;
}
.data-container-one
{
  width: 234px;
  margin-bottom: 10px;
}
}