.logoimg {
  max-width: 190px;
}
.Parent_Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
.navlinks {
  display: flex;
  gap: 40px;
}
.navlinks ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sign_up {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 300ms ease-in;
}
.sign_up:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (min-width: 576px) and (max-width: 767px) {
  .navlinks {
    display: none;
  }
  body {
    margin: 0px !important;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .navlinks {
    display: none;
  }
  body {
    margin: 0px !important;
  }
}

.navlinksmob {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 12%; /* Adjust as needed */
  right: 0;
  background: white; /* Change to desired color */

  padding: 25px;
  height: auto;
  align-items: center;
  width: 100%;
  z-index: 99;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 2s ease; /* Smooth transition */
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 22px;
}
.sign_up p {
  color: #f27405;
}
.sign_up button {
  font-weight: 600;
  color: #f27405;
  background: transparent;
  border: 0.5px solid #f27405;
  padding: 10px 20px;
  border-radius: 32px;
}
.navlinksmob ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.navlinksmob.open {
  display: flex;
  opacity: 1; /* Fade in effect */
  transform: translateY(0); /* Slide in effect */
}

.hamburger {
  display: none;
  cursor: pointer;
}

.sign_up {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Mobile view styles */
@media (max-width: 767px) {
  .navlinks {
    display: none; /* Hide desktop nav links */
  }

  .hamburger {
    display: block; /* Show the hamburger menu icon */
    z-index: 999;
  }
}
