.footer {
  background-color: #f27405;
}
.ParentFooter {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  /* content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px; */
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;

  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-images-brand {
  display: flex;
}
.footer-images-brand img {
  margin-top: 10px;
  margin-right: 10px;
  width: 110px;
}
.underline {
  margin-top: 30px;
}
.below-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.div-left {
  display: flex;
  gap: 17px;
}
.div-left a {
  margin-top: 10px;
  color: #fff;
  font-weight: 100;
  font-size: 14px;
}
.div-right p {
  margin-top: 10px;
  color: #fff;
  font-weight: 100;
  font-size: 14px;
}
/*responsive*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    /* content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px; */
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  .footer-images-brand {
    display: flex;
  }
  .footer-images-brand img {
    margin-top: 10px;
    margin-right: 10px;
    width: 110px;
  }
  .underline {
    margin-top: 30px;
  }
  .below-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .div-left {
    display: flex;
    gap: 17px;
  }
  .div-left a {
    margin-top: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
  }
  .div-right p {
    margin-top: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1124px) {
}
@media screen and (min-width: 1800px) {
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    /* content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px; */
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  .footer-images-brand {
    display: flex;
  }
  .footer-images-brand img {
    margin-top: 10px;
    margin-right: 10px;
    width: 110px;
  }
  .underline {
    margin-top: 30px;
  }
  .below-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .div-left {
    display: flex;
    gap: 17px;
  }
  .div-left a {
    margin-top: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
  }
  .div-right p {
    margin-top: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ParentFooter {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .ParentFooter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
